.bradius{
    border-radius: 25%;
}
.welcomemessage{
    font-size: 3rem;
    text-align: center;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
}
p{
    font-size: 1.25rem;
}
.nbar{
    border-bottom: 2px solid grey;
}
.responsive {
    width: 100%;
    height: auto;
    max-width: 300px;
}
.colorwhite{
    color: white;
}
body{
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-origin: border-box;
    color: white;
}
@media only screen and (max-width: 450px){
    body{
        background-image: url('background_mobile1.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-origin: border-box;
    }
}
.fa{
    font-size: 2rem;
    font-weight: bolder;
    color: white;
    margin: 0 1rem;
}
.fa:hover {
    color: white;
    text-decoration: none;
}
.icons{
    color: white;
    font-size: 2rem;
    margin-left:1rem;
    margin-right:1rem;
    margin-bottom: 10px;
}